@import "../../styles/util/_all";

.add-todo-item {
  // Main container
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: rem-calc(8);
  background-color: $grey-lighten-5;
  overflow: hidden;
  border-radius: $radius;

  @include breakpoint(md) {
    padding: rem-calc(16);
  }

  @media (prefers-color-scheme: dark) {
    background-color: $grey-darken-5;
  }

  // Input
  &__input {
    outline: none;
    border: none;
    background: transparent;
    color: $font-color-lt;
    font-size: rem-calc(14);
    flex: 1 1 auto;
    padding: 0 rem-calc(8) 0 0;
    line-height: normal;
    height: rem-calc(32);

    @include breakpoint(md) {
      font-size: rem-calc($font-size);
      padding-right: rem-calc(16);
    }

    @media (prefers-color-scheme: dark) {
      color: $font-color-dt;
    }
  }

  // Submit button
  &__submit {
    border: 0;
    outline: 0;
    padding: 0;
    background-color: $primary-color;
    color: $white;
    width: rem-calc(32);
    height: rem-calc(32);
    border-radius: $radius;
    cursor: pointer;
    font-size: rem-calc(14);
    transition: background-color $transition;

    // Hover and focus styles
    @media (hover: hover) {
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: mix(#000, $primary-color, 10%);
      }
    }

    // Disabled styles
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
