@import "../../styles/util/_all";

.todo-item {
  $bem-base: &;

  display: flex;
  align-items: center;
  padding: rem-calc($gap - 1) 0;
  border-bottom: rem-calc(1) solid $grey-lighten-3;
  min-height: rem-calc(64);

  &:first-of-type {
    border-top: rem-calc(1) solid $grey-lighten-3;
  }

  @media (prefers-color-scheme: dark) {
    &,
    &:first-of-type {
      border-color: $grey-darken-3;
    }
  }

  // Todo status
  &__status {
    margin-right: rem-calc($gap);
    flex: 0 0 auto;
    line-height: 0;

    // Native checkbox input
    &__input {
      display: none;
    }

    // Faux indicator - base styles
    &__indicator {
      display: inline-block;
      width: rem-calc(24);
      height: rem-calc(24);
      border-radius: 50%;
      border: rem-calc(1) solid $grey-lighten-1;
      cursor: pointer;
      transition: all $transition;
    }

    // Faux indicator - Checked styles
    &__input:checked + &__indicator {
      background-color: $primary-color;
      box-shadow: inset 0 0 0 rem-calc(3) $body-background-color-lt;
      border-color: $primary-color;

      @media (prefers-color-scheme: dark) {
        box-shadow: inset 0 0 0 rem-calc(3) $body-background-color-dt;
      }
    }

    // Faux indicator - Disabled styles
    &__input:disabled + &__indicator {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  // Todo description
  &__description {
    margin: 0;
    line-height: 1.5;
    flex: 1 1 auto;

    // Done state
    #{$bem-base}--is-done & {
      color: $grey-lighten-2;
      text-decoration: line-through;

      @media (prefers-color-scheme: dark) {
        color: $grey-lighten-1;
      }
    }
  }

  // Pinned indicator
  &__pin {
    flex: 0 0 auto;
    border: 0;
    padding: 0;
    width: rem-calc($gap * 2);
    height: rem-calc($gap * 2);
    margin-left: rem-calc($gap / 2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    // Checkbox input
    &__input {
      display: none;
    }

    // Pinned indicator - base styles
    &__indicator {
      color: $grey-lighten-3;
      transition: color $transition;
    }

    // Pinned indicator - pinned styles
    &__input:checked + &__indicator {
      color: #d2ce2f;
    }
  }

  // Remove todo item button
  &__remove {
    border: 0;
    padding: 0;
    margin: 0;
    width: rem-calc($gap * 2);
    height: rem-calc($gap * 2);
    margin-left: rem-calc($gap / 2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: $red;

    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }
}
