@import "../../styles/util/_all";

.app-header-bar {
  background-color: $primary-color;
  color: $white;
  padding: rem-calc(16);
  min-height: rem-calc(64);

  // Inner wrap
  &__content {
    display: grid;
    column-gap: rem-calc(16);
    align-items: center;
    grid-template-columns: repeat(2, auto);
  }

  // App title
  &__content__title {
    margin: 0;
    font-size: rem-calc(18);
    line-height: normal;
  }

  // Todo count
  &__content__todo-count {
    font-weight: $font-weight-bold;
    justify-self: end;
  }
}
