@import "../../styles/util/_all";

.check {
  display: block;
  line-height: 0;

  // Native checkbox input
  &__input {
    display: none;
  }

  // Faux indicator - base styles
  &__indicator {
    display: inline-block;
    width: rem-calc(24);
    height: rem-calc(24);
    border-radius: 50%;
    border: rem-calc(1) solid $grey-lighten-1;
    background-color: $white;
    cursor: pointer;
    transition: all $transition;
  }

  // Faux indicator - Checked styles
  &__input:checked + &__indicator {
    background-color: $primary-color;
    box-shadow: inset 0 0 0 rem-calc(3) $white;
    border-color: $primary-color;
  }

  // Faux indicator - Disabled styles
  &__input:disabled + &__indicator {
    opacity: 0.5;
    pointer-events: none;
  }
}
