// Breakpoint
@mixin breakpoint($label) {
  $size: map-get($breakpoints, $label);

  @media screen and (min-width: #{rem-calc(strip-unit($size))}) {
    @content;
  }
}

// Grid container
@mixin gridContainer() {
  display: grid;
  grid-template-columns: minmax(auto, 1200px);
  justify-content: center;
  padding-left: rem-calc(16);
  padding-right: rem-calc(16);

  @include breakpoint(md) {
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
  }
}

.grid-container {
  @include gridContainer();
}
