// Breakpoint
@mixin breakpoint($label) {
  $size: map-get($breakpoints, $label);

  @media screen and (min-width: #{rem-calc(strip-unit($size))}) {
    @content;
  }
}

// Grid container
@mixin gridContainer() {
  width: 100%;
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem-calc($gap);
  padding-right: rem-calc($gap);

  @include breakpoint("md") {
    padding-left: rem-calc($gap * 2);
    padding-right: rem-calc($gap * 2);
  }
}
