@import "../../styles/util/_all";

.todos-filter {
  display: flex;
  justify-content: center;

  &__action {
    outline: none;
    padding: rem-calc(8);
    margin: 0 rem-calc(4);
    width: 33.333%;
    max-width: rem-calc(120);
    line-height: 1;
    font-size: rem-calc(12);
    color: $primary-color;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    border-radius: rem-calc(6);
    border: rem-calc(1) solid $primary-color;
    background-color: transparent;
    cursor: pointer;
    transition: all $transition;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    @media (prefers-color-scheme: dark) {
      color: $blue-lighten-1;
    }

    &--is-active {
      background-color: $primary-color;
      color: $white;
      pointer-events: none;
    }
  }
}
